<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shopping App</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div id="nav">
        <h3 class="logo">Fashion</h3>
        <ul>
            <li class="item active"><a href="index.html">Home</a></li>
            <li class="item">Women</li>
            <li class="item">Men</li>
            <li class="item">Footwear</li>
            <li class="item">Sales</li>
            <li class="item">Cart</li>
        </ul>
    </div>
    <div id="cart">
        <div id="item-img">
            <img src="../assets/5.jpg" alt="">
            <div class="description">
                <h1>Name</h1>
                <p>Price: $100</p>
            </div>
        </div>
        <button class="checkout">Checkout</button>
    </div>
    <footer>
        <p>Copyright @2018 Bros.</p>
    </footer>
</body>

</html>