<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shopping App</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div id="nav">
        <h3 class="logo">Fashion</h3>
        <ul>
            <li class="item active">Home</li>
            <li class="item">Women</li>
            <li class="item">Men</li>
            <li class="item">Footwear</li>
            <li class="item">Sales</li>
            <li class="item"><a href="cart.html">Cart</a></li>
        </ul>
    </div>
    <div id="banner">
        <img src="../assets/flaunter-com-237609-unsplash.jpg" alt="">
    </div>
    <main>

        <div class="product z-depth-5">
            <div class="even-spaced">
                <h4>Dragon</h4>
                <a href=""><i class="fas fa-cart-plus"></i></a>
            </div>

            <div class="even-spaced">
                <span>$10</span>
                <a href=""><i class="far fa-heart"></i></a>
            </div>
            <img src="../assets/1.jpg" alt="">

        </div>

        <div class="product z-depth-5">
            <div class="even-spaced">
                <h4>Dragon</h4>
                <a href=""><i class="fas fa-cart-plus"></i></a>
            </div>

            <div class="even-spaced">
                <span>$10</span>
                <a href=""><i class="far fa-heart"></i></a>
            </div>
            <img src="../assets/5.jpg" alt="">

        </div>

        <div class="product z-depth-5">
            <div class="even-spaced">
                <h4>Dragon</h4>
                <a href=""><i class="fas fa-cart-plus"></i></a>
            </div>

            <div class="even-spaced">
                <span>$10</span>
                <a href=""><i class="far fa-heart"></i></a>
            </div>
            <img src="../assets/2.jpg" alt="">

        </div>

        <div class="product z-depth-5">
            <div class="even-spaced">
                <h4>Dragon</h4>
                <a href=""><i class="fas fa-cart-plus"></i></a>
            </div>

            <div class="even-spaced">
                <span>$10</span>
                <a href=""><i class="far fa-heart"></i></a>
            </div>
            <img src="../assets/3.jpg" alt="">

        </div>

        <div class="product z-depth-5">
            <div class="even-spaced">
                <h4>Dragon</h4>
                <a href=""><i class="fas fa-cart-plus"></i></a>
            </div>

            <div class="even-spaced">
                <span>$10</span>
                <a href=""><i class="far fa-heart"></i></a>
            </div>
            <img src="../assets/4.jpg" alt="">

        </div>

        <div class="product z-depth-5">
            <div class="even-spaced">
                <h4>Dragon</h4>
                <a href=""><i class="fas fa-cart-plus"></i></a>
            </div>

            <div class="even-spaced">
                <span>$10</span>
                <a href=""><i class="far fa-heart"></i></a>
            </div>
            <img src="../assets/6.jpg" alt="">

        </div>

        <div class="product z-depth-5">
            <div class="even-spaced">
                <h4>Dragon</h4>
                <a href=""><i class="fas fa-cart-plus"></i></a>
            </div>

            <div class="even-spaced">
                <span>$10</span>
                <a href=""><i class="far fa-heart"></i></a>
            </div>
            <img src="../assets/7.jpg" alt="">

        </div>
    </main>
    <footer>
        <p>Copyright @2018 Bros.</p>
    </footer>
</body>

</html>